<footer class="footer">
  {% if site.author.github %}
    <a href="https://github.com/{{site.author.github}}"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% if site.author.twitter %}
    <a href="https://twitter.com/{{site.author.twitter}}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% if site.author.instagram %}
    <a href="https://instagram.com/{{site.author.instagram}}"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% if site.author.linkedin %}
    <a href="https://linkedin.com/in/{{site.author.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% if site.author.reddit %}
    <a href="https://reddit.com/u/{{site.author.reddit}}"><i class="fa fa-reddit" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% if site.author.email %}
    <a href="mailto:{{site.author.email}}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  <div class="post-date"><a href="{{ site.github.url }}/menu/about.html">{{ site.title }} | {{ site.tagline }} by {{ site.author.name }}</a></div>
  <div class="post-date" style="margin-top: -15px">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
