@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --light: #F6F8FF;
    --dark: #262527;
    --yellow: #FFE74C;
    --green: #01AF75;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    color: var(--dark);

    margin: 0;
    padding: 0;
    top: 0px;

    overflow-x: hidden !important;
}

h1 {
    font-size: 6em;
}

p {
    line-height: 2.0;
    font-size: 1.2em;
}

a {
    color: inherit;
    font-weight: bold;
}

.background-logo {
    position: fixed;
    z-index: -1;

    height: 100vh;
}

#background-A {
    left: calc(-1*78vh*0.28);
}

#background-Q {
    right: calc(-1*97vh*0.48);
}

.small-logo-container {
	margin: 50px auto;
	text-align: center;
}

.small-logo {
	display: None;
}

.page {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
}

.page-container {
    padding: 8vh 15vw;
    display: inline-block;
}

.heading {
}

.heading img {
    margin: 0;
    margin-right: 50px;
    border-radius: 50%;
    width: 10vw;

    display: inline-block;

    vertical-align: middle;
}

.heading h2 {
    display: inline-block;

    font-size: 4em;

    vertical-align: middle;
}

.content {
    width: 55vw;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

#home-container {
    width: 536px;

    margin: auto;
    padding: 10vh 0;
}

.link-container {
    font-size: 3em;
    text-align: center;
    letter-spacing: 20px;

    margin: 0;
}

.link-container a {
    color: var(--dark);
    text-decoration: none;
}

.link-container a:visited {
    color: var(--dark);
    text-decoration: none;
}

h1 {
    margin: 0;
}

#side-links {
    display: hidden;
    
    width: 100px;
    text-align: right;

    position: fixed;
    right: -10vw;
    bottom: 40px;

    transition: right 0.5s ease-in-out;
}

.side-links .link-container {
    text-align: right;
}

.side-logo {
    width: 80px;
    margin-top: 2em;
}

.techs {
    padding: 0;
    
    margin-bottom: 3em;

    line-height: 3;
}

.techs a {
    color: var(--dark);
    text-decoration: none;
}

.techs a:hover li {
    background-color: var(--green);
    color: var(--light);
}

.techs li {
    display: inline;
    list-style-type: none;

    border: 3px solid var(--green);
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
}

#projects .content {
    overflow-x: scroll;
    white-space: nowrap;
	scrollbar-width: none;
    display: flex;
    width: 90%;
    border-right: 10px solid #262527;
}


.project {
    position: relative;
    /*flex: 1;*/
    display: inline-block;
    min-width: 400px;
    width: 40%;
    /*height: 100%; */
    padding: 30px;
    margin-right: 4%;

    background-color: var(--light);
    border-radius: 5px;

    color: var(--dark);
}

.project img {
    width: 100%;
    height: 30%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.project h3 {
    margin: 5px 0;
    margin-bottom: 10px;
}

.project h3 small {
	font-weight: 300;
}

.project p {
    white-space: normal;
}

.project .tags {
    position: absolute;
    bottom: 20px
}

.project h4 {
    margin-bottom: 5px;
}

.project .techs {
    line-height: 2.5;
    margin: 0;
}

.project .techs li {
    font-size: small;
    padding: 5px;
}

.project.last {
    margin-right: 10px;
}

.personal {
    background-color: var(--light);

}

.inverted {
}

.personal.inverted {
    background-color: var(--yellow);

    color: var(--dark);
}

.personal.inverted h2 {
    color: var(--dark);
}

.cs {
    background-color: var(--light);

}

.cs h2 {
    color: var(--green);
}

.cs.inverted {
    background-color: var(--green);
    /*background-image: url("../images/background-pattern.png");
    background-size: 100px auto;
    background-repeat: repeat;*/

    color: var(--light);
}

.cs.inverted h2 {
    color: var(--light);
}

@media screen and (max-aspect-ratio: 98/100) {
    /* Do something so the A and Q maintain the correct distance to each other */
	.background-logo {
		display: none;
	}

	.small-logo {
		display: inline-block;
		height: 15vh;
	}

	#home-container {
		width: 80%;
	}

	.content {
		width: 100%;
		text-align: justify;
	}

	#work-with .content {
		text-align: left;
	}

	.heading h2 {
		font-size: 3em;
	}

	#side-links {
		display: none;
	}
}

@media screen and (max-width: 620px) {
    .page-container .heading img {
        display: none;
    }

    .page-container .heading h2 {
        margin-left: 0;
    }
}

@media screen and (max-height: 695px) {
    .project span {
        display: none;
    }
}
